<footer class="page-footer bg-color">
  <div class="container row center-align">
      <div class="col s12 m8 l8 copy-right">
        Copyright © 2018 <a href="https://onlystar.site" target="_blank">Rain</a>.All rights reserved.
          Powered by<a href="https://hexo.io/" target="_blank">Hexo</a> ,Hosted by 
          <a href="https://coding.net/pages" target="_blank">Coding Pages</a>
      </div>
      <div class="col s12 m4 l4 social-link"><%- partial('_partial/social-link') %></div>
  </div>

</footer>

<div class="progress-bar"></div>
