.page-common {
  .common-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 67px;
    background-color: #499AFA;
  }
  .common-right-box {
    .common-header {
      position: fixed;
      top: 0;
      right: 0;
      left: 67px;
      height: 55px;
    }
    .common-container {
      position: fixed;
      top: 55px;
      right: 0;
      bottom: 0;
      left: 67px;
      >div {
        overflow-y: auto;
      }
    }
  }
}

.ant-btn.ant-btn-warning {
  border-color: #e6a23c;
  color: #fff;
  background-color: #e6a23c;
  &:hover {
    border-color: #ebb563;
    background-color: #ebb563;
  }
  &:active {
    border-color: #cf9236;
    background-color: #cf9236;
  }
}
.ant-btn.ant-btn-danger {
  border-color: #f56c6c;
  color: #fff;
  background-color: #f56c6c;
  &:hover {
    border-color: #f78989;
    background-color: #f78989;
  }
  &:active {
    border-color: #dd6161;
    background: #dd6161;
  }
}

/* 左侧菜单滚动条 */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 6px;
  background-color: transparent;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(69,90,100,.2)
}