* {
  background: transparent;
  font-family: system, -apple-system, 'Source Code Pro', 'Microsoft YaHei',
    Menlo, Monaco, 'Courier New', monospace;
}

html,
body {
  // overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

.el-aside {
  color: #333;
}
// 按钮的hover和active效果
.click-back {
  &:hover {
    background-color: #E8F0FF;
  }
  &:active,
  &:focus {
    background-color: #D2E2FF;
  }
}
// 内容区域滚动跳样式
.main-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #e8eaf4
  }
}

// 文章页的popover样式
.custom-popover-more {
  margin-top: 0 !important;
  right: 35px !important;
  left: auto !important;
  padding: 0;
  .el-table__header-wrapper {
    display: none;
  }
  tr {
    cursor: pointer;
    .el-table_1_column_1 .cell{
      padding: 0;
    }
  }
}

// 文章页的dialog弹框样式
.article-dialog-input {
  .custom-dialog-form {
    overflow: hidden;
    .el-dialog {
      top: 50%;
      margin: 0 auto !important;
      border-radius: 8px;
      transform: translate(0, -50%);
      .el-dialog__body {
        padding: 0 25px 1px;
        .el-form {
          position: relative;
          .article-home-img {
            position: absolute;
            bottom: 65px;
            right: 0;
            height: 130px;
          }
        }
        .el-form-item {
          margin-bottom: 15px;
          .line {
            height: 40px;
          }
          textarea:hover::-webkit-scrollbar-thumb {
            background: transparent;
          }
        }
      }
    }
  }
}