* {
  background: transparent;
  font-family: system, -apple-system, 'Source Code Pro', 'Microsoft YaHei', Menlo, Monaco, 'Courier New', monospace;
}
html,
body {
  // overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.el-aside {
  color: #333;
}
// 按钮的hover和active效果
.click-back {
  &:hover {
    background-color: #e8f0ff;
  }
  &:active,
  &:focus {
    background-color: #d2e2ff;
  }
}
// 内容区域滚动跳样式
.main-scrollbar {
  position: absolute;
  top: 60px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #e8eaf4;
  }
}
// 文章页的popover样式
.custom-popover-more {
  right: 35px !important;
  left: auto !important;
  margin-top: 0 !important;
  padding: 0;
  .el-table__header-wrapper {
    display: none;
  }
  tr {
    cursor: pointer;
    .el-table_1_column_1 .cell {
      padding: 0;
    }
  }
}
// 文章页的dialog弹框样式
.article-dialog-input {
  .custom-dialog-form {
    overflow: hidden;
    .el-dialog {
      top: 50%;
      margin: 0 auto !important;
      border-radius: 8px;
      transform: translate(0,-50%);
      .el-dialog__body {
        padding: 0 25px 1px;
        .el-form {
          position: relative;
          .article-home-img {
            position: absolute;
            right: 0;
            bottom: -15px;
            height: 130px;
          }
        }
        .el-form-item {
          margin-bottom: 15px;
          .line {
            height: 40px;
          }
          textarea:hover::-webkit-scrollbar-thumb {
            background: transparent;
          }
        }
      }
    }
  }
  .custom-dialog-frontmater {
    .table-front-matters {
      .el-table__body-wrapper {
        overflow-y: auto;
        max-height: 350px;
      }
      .el-input {
        display: none;
      }
      .current-row {
        .el-input {
          display: block;
          & + span {
            display: none;
          }
        }
      }
    }
  }
}
