.page-home {
  overflow: hidden !important;
  display: flex;
  height: 100%;

  &-left {
    position: relative;
    // overflow-x: hidden;
    // overflow-y: auto;
    width: 250px;
    border-right: 1px solid #ddd;
    .ant-tabs {
      width: 100%;
      height: 100%;
      .ant-tabs-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
      }
      .ant-tabs-content {
        position: absolute;
        top: 44px;
        bottom: 0;
        left: 0;
        width: 100%;
        .ant-tabs-tabpane-active {
          overflow-x: hidden;
          overflow-y: auto;
        }

        .ant-tabs-tabpane-active::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          background-color: transparent;
        }
        .ant-tabs-tabpane-active::-webkit-scrollbar-thumb {
          height: 10px;
          border-radius: 6px;
          background-color: transparent;
        }
        .ant-tabs-tabpane-active:hover::-webkit-scrollbar-thumb {
          background-color: rgba(69,90,100,.2)
        }

      }
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 15px 0 10px 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #eee;
      }
      &.no-content {
        justify-content: center;
      }
      img {
        width: 45px;
        height: 45px;
        margin-right: 5px;
        border-radius: 50%;
      }
      .item-content {
        flex: 1;
        &-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            display: inline-block;
            margin-right: 5px;
            font-size: 10px;
          }
          p {
            overflow: hidden;/*超出部分隐藏*/
            width: 110px;
            margin: 0;
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;/*不换行*/
            text-overflow:ellipsis;/*超出部分文字以...显示*/
          }
        }
        &-subtitle {
          margin-top: 5px;
          margin-bottom: 0;
          color: #9a8a8a;
          font-size: 12px;
          .ant-tag {
            height: 16px;
            padding: 0 3px;
            line-height: 14px;
            &.category-item {
              margin-right: 15px;
            }
            &.tag-item {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &-right {
    overflow-y: auto;
    flex: 1;
    padding: 15px;
    .front-matter {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          margin: 0;
        }
        .ant-btn {
          margin-right: 10px;
        }
      }
      .subtitle {
        span {
          margin-right: 15px;
          font-size: 14px;
        }
        .category-item {
          margin-right: 15px;
        }
      }
    }
    &-content {
      padding-top: 10px;
    }
  }

  // 编辑器
  .mditor {
    padding: 0;
    border: none;
    .head {
      display: none;
    }
    .body {
      box-shadow: none;
      .editor {
        display: none;
      }
      .viewer {
        padding: 0;
        .markdown-body {
          max-width: none;
        }
      }
      .finder {
        display: none;
      }
    }
  }
}